.cuerpo_genera
	h1
		color #0387C7
		margin-bottom 2%
		text-align center
	.datos-proveedor
		background #F47D00
		border-radius 5px
		margin 3%
		padding 1%
		text-align center

		label
			color white
	.opciones_genera
		text-align center